
@model MVCAPP_GESTIONEMPLEADOS.Models.ViewModels.PerfilViewModel
@{
    ViewBag.Title = "Perfil";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">




    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <link href="@Url.Content("~/Content/perfil.css")" rel="stylesheet" type="text/css" />


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>






</head>

<body>


    <!-- load sueldo liquido form -->
    <script type="text/javascript">
        var utm = 49229;
        var uf = 28065.35;
        var imm = 301000;
        var grat = imm * 4.75 / 12;
        var topeImponibleCotizacionesUF = 79.2;
        var topeImponibleSeguroUF = 118.9;

        var afpFeeData = { "capital": "0.0144", "cuprum": "0.0144", "habitat": "0.0127", "modelo": "0.0077", "planvital": "0.0116", "provida": "0.0145", "primer trabajo": "0.0077" };
        var impuestoUTMdata = [{ "desde": "0.0", "hasta": "13.5", "factor": "0.000", "rebaja": "0.00" }, { "desde": "13.5", "hasta": "30.0", "factor": "0.040", "rebaja": "0.54" }, { "desde": "30.0", "hasta": "50.0", "factor": "0.080", "rebaja": "1.74" }, { "desde": "50.0", "hasta": "70.0", "factor": "0.135", "rebaja": "4.49" }, { "desde": "70.0", "hasta": "90.0", "factor": "0.230", "rebaja": "11.14" }, { "desde": "90.0", "hasta": "120.0", "factor": "0.304", "rebaja": "17.80" }, { "desde": "120.0", "hasta": "99999999.0", "factor": "0.350", "rebaja": "23.32" }];

        // tipo de contrato mensual dividir por 1, quincenal dividir por 2, semanal dividir por 30/7, diario dividir por 30
    </script>
    @using (Html.BeginForm("Perfil", "Empleado", FormMethod.Get, new { enctype = "multipart/form-data" }))
    {

        <div class="row" style="padding-top:30px">
            <form name="formulario" action="descargar-simulacion-sueldo-liquido" method="post" class="col s12">

                <div class="row">
                    <div class="col s12 m12 l10 xl10" style="padding-left:0;padding-right:0">

                        <div class="input-field col s4 m4">
                            <input id="utm" name="utm" type="text" readonly="readonly">
                            <label for="utm"><i class="material-icons tiny icon-grey">lock</i> UTM <span class="hide-on-small-only ">01-10-19</span></label>
                        </div>

                        <div class="input-field col s4 m4">
                            <input id="uf" name="uf" type="text" readonly="readonly">
                            <label for="uf"><i class="material-icons tiny icon-grey">lock</i> UF <span class="hide-on-small-only ">24-10-19</span></label>
                        </div>

                        <div class="input-field col s4 m4">
                            <input id="imm" name="imm" type="text" readonly="readonly">
                            <label for="imm"><i class="material-icons tiny icon-grey">lock</i> IMM <span class="hide-on-small-only ">01-03-19</span></label>
                        </div>

                    </div>
                </div> <!-- cierre row container de constantes y bases -->

                <div class="row">
                    <div class="col s12 m12 l10 xl10" style="padding-left:0;padding-right:0">
                        <div class="card" style="overflow: hidden;">
                            <div class="card-content" style="padding:0px 0px 5px 0px;">

                                <div class="card-action teal grey lighten-5" style="overflow:hidden;padding:5px;margin-bottom: 5px;">
                                    <i class="material-icons prefix icon-grey left">settings</i>
                                    <p style="font-weight:bold;color:#9e9e9e;">Contrato</p>
                                </div>

                                <div class="input-field col s6">
                                    <input id="plazoContrato" name="plazoContrato" type="text" value="Mensual" readonly="readonly">
                                    <label>
                                        Contrato
                                    </label>
                                </div>

                                <div class="input-field col s6">
                                    <select id="plazoContratoSelect" name="plazoContratoSelect">
                                        <option value="indefinido" selected="selected">Indefinido</option>
                                        <option value="fijo">Fijo</option>
                                    </select>
                                    <label class="valign-wrapper">
                                        Plazo contrato
                                    </label>
                                </div>

                                <div class="col s12 m6 l6 xl6 right-dashed-border" style="padding-left: 0px;padding-right: 0px;">

                                    <div class="card-action teal grey lighten-5" style="overflow:hidden;padding:5px;margin-bottom: 5px;">
                                        <i class="material-icons prefix icon-lightgreen left">arrow_drop_down_circle</i>
                                        <p style="font-weight:bold;color:#9e9e9e;">Haberes</p>
                                    </div>

                                    <div style="padding:5px">

                                        <div class="input-field col s12 m6">
                                            <!-- load sueldo liquido form -->
                                            @Html.TextBoxFor(d => d.sueldo_basevm, new { @readonly = true })
                                            <label class="valign-wrapper">
                                                Sueldo base&nbsp;
                                                <i class="material-icons tiny icon-grey tooltipped input-icon-top-left" data-position="top" data-tooltip="Si tu sueldo base ya tiene incluida la gratificación, favor quitar el item de gratificación.">info_outline</i>
                                            </label>
                                        </div>

                                        <div class="input-field col s12 m6">
                                            <input id="diasTrabajados" name="diasTrabajados" type="number" required="required" value="30" min="0" max="30">
                                            <label class="valign-wrapper">
                                                Días trabajados
                                            </label>
                                        </div>

                                        <input type="hidden" name="sueldoBaseDias" id="sueldoBaseDias" value="">

                                        <div class="input-field col s6 m6">
                                            @Html.TextBoxFor(d => d.TieneCargavm, new { @readonly = true })

                                            <label class="valign-wrapper">
                                                Carga Familiar.&nbsp;
                                            </label>
                                        </div>

                                        <div class="input-field col s6 m6">
                                            @Html.TextBoxFor(d => d.monto_familiarvm, new { @readonly = true })
                                            <label class="valign-wrapper tooltipped" data-position="top" data-tooltip="Al incluir, automáticamente se calcula el 25% del sueldo base o 4,75 sueldos mínimos mensuales y mensualizado. Lo que sea menor.">
                                                Valor Carga Familiar.&nbsp;
                                                <i class="material-icons tiny icon-grey input-icon-top-left">info_outline</i>
                                            </label>
                                        </div>

                                        <div class="input-field col s6 m6">
                                            @Html.TextBoxFor(d => d.hora_extravm, new { @readonly = true })
                                            <label class="valign-wrapper">
                                                Horas extra.
                                            </label>
                                        </div>

                                        <div class="input-field col s6 m6">
                                            @Html.TextBoxFor(d => d.calculoHoraExtra, new { @readonly = true })
                                            <label class="valign-wrapper tooltipped" data-position="top" data-tooltip="Horas extraordinarias calculadas para un trabajador con jornada de 45 horas semanales y con un recargo del 50%.">
                                                Valor hrs. extra.&nbsp;
                                                <i class="material-icons tiny icon-grey input-icon-top-left">info_outline</i>
                                            </label>
                                        </div>

                                        <div class="input-field col s12 m12">
                                            @Html.TextBoxFor(d => d.comisionvm, new { @readonly = true })
                                            <label>Comisiones</label>
                                        </div>

                                        <div class="input-field col s12 m12">
                                            @Html.TextBoxFor(d => d.bonovm, new { @readonly = true })
                                            <label>Bono Antiguedad</label>
                                        </div>

                                        <div class="input-field col s12 m12">
                                            @Html.TextBoxFor(d => d.colacionvm, new { @readonly = true })
                                            <label>Colación</label>
                                        </div>

                                        <div class="input-field col s12 m12">
                                            @Html.TextBoxFor(d => d.movilizacionvm, new { @readonly = true })
                                            <label>Movilización</label>
                                        </div>
                                    </div>
                                </div> <!-- cierre col -->


                                <div class="col s12 m6 l6 xl6" style="padding-left:0px;padding-right:0px">

                                    <div class="card-action teal grey lighten-5" style="overflow:hidden;padding:5px;margin-bottom: 5px;">
                                        <i class="material-icons prefix icon-red left">arrow_drop_down_circle</i><p style="font-weight:bold;color:#9e9e9e;">Descuentos</p>
                                    </div>

                                    <div style="padding:5px;">

                                        <div class="input-field col s6 m6">
                                            <input id="afp" name="afp" type="text" placeholder="-" readonly="readonly" value="@Html.ValueFor(d=> d.NombreAfp)">

                                            <label class="valign-wrapper">
                                                AFP
                                            </label>
                                        </div>

                                        <div class="input-field col s6 m6">
                                            <input id="afpcalc" name="afpcalc" type="text" placeholder="-" readonly="readonly" value="@Html.ValueFor(d=>d.descuento_afpvm)">
                                            <label class="valign-wrapper tooltipped" data-position="top" data-tooltip="Corresponde al 10% de previsión más el porcentaje correspondiente a comisión de la AFP.">
                                                Total AFP&nbsp;
                                                <i class="material-icons tiny icon-grey input-icon-top-left">info_outline</i>
                                            </label>
                                        </div>

                                        <input type="hidden" name="comisionafp" id="comisionafp" value="">
                                        <input type="hidden" name="comisionafpcalc" id="comisionafpcalc" value="">

                                        <div class="input-field col s6 m6">
                                            @Html.TextBoxFor(d => d.tiposaludvm, new { @readonly = true })
                                            <label class="valign-wrapper">
                                                Previsión
                                            </label>
                                        </div>

                                        <div class="input-field col s6 m6">
                                            @Html.TextBoxFor(d => d.descuento_saludvm, new { @readonly = true })
                                            <label class="valign-wrapper tooltipped" data-position="top" data-tooltip="Corresponde al 7% de la base imponible o en el caso de Isapres es un monto pactado en UF.">
                                                Total salúd&nbsp;
                                                <i class="material-icons tiny icon-grey input-icon-top-left">info_outline</i>
                                            </label>
                                        </div>

                                        <input type="hidden" name="isaprecalc" id="isaprecalc" value="">

                                        <div class="input-field col s12">
                                            @Html.TextBoxFor(d => d.descuento_cesantiavm, new { @readonly = true })
                                            <label class="valign-wrapper tooltipped" data-position="top" data-tooltip="Corresponde al 0,6% de la base imponible para el seguro de censantía.">
                                                Seguro de censatía&nbsp;
                                                <i class="material-icons tiny icon-grey input-icon-top-left">info_outline</i>
                                            </label>
                                        </div>

                                        <div class="input-field col s12">
                                            @Html.TextBoxFor(d => d.descuento_segurovidavm, new { @readonly = true })
                                            <label class="valign-wrapper tooltipped" data-position="top" data-tooltip="El impuesto único de segunda categoría se calcula en escalas dependiendo de la base tributable, siempre y cuando la base tributable sea mayor a 13.5 UTM mensual.">
                                                Seguro Vida&nbsp;
                                                <i class="material-icons tiny icon-grey input-icon-top-left">info_outline</i>
                                            </label>
                                            <!-- <i class="material-icons prefix icon-blue input-icon-right">help_outline</i> -->
                                        </div>
                                    </div>
                                </div> <!-- cierre col -->

                                <div class="col s12 m12 l12 xl12" id="detalle" style="padding-left:0;padding-right:0; display: none;">
                                    <div class="card-action white" style="overflow:hidden;padding:5px;border-top:1px dashed #c3c0c0;">

                                        <div class="input-field col s6 m4">
                                            <input id="baseImponible" name="baseImponible" type="text" placeholder="-" readonly="readonly">
                                            <label class="valign-wrapper tooltipped" data-position="top" data-tooltip="Es la base de dinero de donde se descontará un porcentaje de previsión AFP y salud Isapre. Corresponde al sueldo base siempre y cuando no sea mayor a 79.2 UF; De ser mayor se calcula en base a este último">
                                                Base Imponible&nbsp;
                                                <i class="material-icons tiny icon-grey input-icon-top-left">info_outline</i>
                                            </label>
                                        </div>

                                        <div class="input-field col s6 m4">
                                            <input id="baseImponibleSeguro" name="baseImponibleSeguro" type="text" placeholder="-" readonly="readonly">
                                            <label class="valign-wrapper tooltipped" data-position="top" data-tooltip="Es la base de dinero de donde se descontará un porcentaje para el seguro de cesantía. Corresponde al sueldo base siempre y cuando no sea mayor a 118.9 UF; De ser mayor se calcula en base a este último.">
                                                Base Imp. seguro&nbsp;
                                                <i class="material-icons tiny icon-grey input-icon-top-left">info_outline</i>
                                            </label>
                                        </div>

                                        <div class="input-field col s12 m4">
                                            <input id="baseTributable" name="baseTributable" type="text" placeholder="-" readonly="readonly">
                                            <label class="valign-wrapper tooltipped" data-position="top" data-tooltip="Corresponde a la base de dinero de donde se calcula el impuesto. Se calcula del sueldo bruto menos los descuentos.">
                                                Base tributable&nbsp;
                                                <i class="material-icons tiny icon-grey input-icon-top-left">info_outline</i>
                                            </label>
                                        </div>

                                    </div> <!-- cierre card action -->
                                </div> <!-- cierre col de card action -->

                                <div class="col s12 m12 l12 xl12" style="padding-left:0;padding-right:0">
                                    <div class="card-action grey lighten-5" style="overflow:hidden;padding:5px;border-top:1px dashed #c3c0c0;">
                                        <div class="input-field col s6 m4 l4 xl4">
                                            <i class="material-icons prefix icon-lightgreen">add_circle</i>
                                            @Html.TextBoxFor(d => d.total_haberesvm, new { @readonly = true })
                                            <label class="valign-wrapper tooltipped" data-position="top" data-tooltip="Es el dinero que desembolsa el empleador por el empleado. También conocido como sueldo bruto.">
                                                Haberes&nbsp;
                                                <i class="material-icons tiny icon-grey input-icon-top-left">info_outline</i>
                                            </label>
                                        </div>

                                        <div class="input-field col s6 m4 l4 xl4">
                                            <i class="material-icons prefix icon-red">remove_circle</i>
                                            @Html.TextBoxFor(d => d.total_descuentosvm, new { @readonly = true })
                                            <label class="valign-wrapper tooltipped" data-position="top" data-tooltip="Corresponde a todos los descuentos realizados al Total haberes">
                                                Descuentos&nbsp;
                                                <i class="material-icons tiny icon-grey input-icon-top-left">info_outline</i>
                                            </label>
                                        </div>

                                        <div class="input-field col s12 m4 l4 xl4">
                                            <i class="material-icons prefix icon-green">monetization_on</i>
                                            @Html.TextBoxFor(d => d.sueldo_liquidovm, new { @readonly = true })
                                            <label class="valign-wrapper green-text text-darken-4 tooltipped" data-position="top" data-tooltip="Corresponde al sueldo que finalmente recibirás en tu bolsillo. <br> Líquido = Total haberes - Descuentos">
                                                Sueldo líquido&nbsp;
                                                <i class="material-icons tiny icon-grey input-icon-top-left">info_outline</i>
                                            </label>
                                        </div>
                                    </div> <!-- cierre card action -->
                                </div> <!-- cierre col de card action -->

                            </div> <!-- cierre card content -->
                        </div> <!-- cierre card -->
                    </div> <!-- cierre col -->

                </div> <!-- cierre row container de inputs y resultado -->

            </form>
        </div>

    }








    <script src="~/Scripts/calculo.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, '');

            var elems2 = document.querySelectorAll('.adssticky');
            var instances2 = M.Pushpin.init(elems2, { offset: 10, bottom: 1300 });

            var elems3 = document.querySelectorAll('.tooltipped');
            var instances3 = M.Tooltip.init(elems3, { margin: 5 });

            var elems4 = document.querySelectorAll('select');
            var instances4 = M.FormSelect.init(elems4, '');

            var elems5 = document.querySelectorAll('.dropdown-trigger');
            var instances5 = M.Dropdown.init(elems5, '');

        });

        // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
        var collapsibleElem = document.querySelector('.collapsible');
        var collapsibleInstance = M.Collapsible.init(collapsibleElem, '');

        // Initialize range input
        var array_of_dom_elements = document.querySelectorAll("input[type=range]");
        M.Range.init(array_of_dom_elements);

    </script>




</body>
</html>







